USE [master]
GO
/****** Object:  Database [NNV]    Script Date: 31-Aug-18 10:19:14 ******/
CREATE DATABASE [NNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NNV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NNV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NNV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NNV_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NNV]
GO
USE [NNV]
GO
/****** Object:  Table [dbo].[Sednice]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sednice](
	[ID_Sednice] [int] NOT NULL,
	[Datum] [datetime2](7) NOT NULL,
	[Vrsta_sednice] [nvarchar](25) NOT NULL,
	[Ucionica] [nvarchar](25) NULL,
	[Zapisnik] [nvarchar](max) NULL,
	[Poziv] [nvarchar](max) NULL,
 CONSTRAINT [PK__Sednice__33CB23119C7FC544] PRIMARY KEY CLUSTERED 
(
	[ID_Sednice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Test]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Test]
AS
SELECT [ID_Sednice], [Datum]
FROM [dbo].[Sednice]
GO
/****** Object:  Table [dbo].[Clanovi]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanovi](
	[ID_Clanovi] [int] IDENTITY(1,1) NOT NULL,
	[Ime_i_prezime] [nvarchar](50) NOT NULL,
	[E_mail] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Korisnicko_ime] [nvarchar](25) NOT NULL,
	[Lozinka] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Clanovi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prilozi]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prilozi](
	[ID_Sednice] [int] NOT NULL,
	[Rbr_Priloga] [int] IDENTITY(1,1) NOT NULL,
	[ID_Dokumenta] [int] NULL,
	[Putanja] [nvarchar](max) NULL,
	[Poslato] [bit] NULL,
	[DatumSlanja] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sednice] ASC,
	[Rbr_Priloga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisustvo]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisustvo](
	[Prisutan] [bit] NOT NULL,
	[Opravdano] [bit] NULL,
	[ID_Sednice] [int] NOT NULL,
	[ID_Clanovi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sednice] ASC,
	[ID_Clanovi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VrstaDokumenta]    Script Date: 31-Aug-18 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrstaDokumenta](
	[ID_Dokumenta] [int] IDENTITY(1,1) NOT NULL,
	[NazivDokumenta] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Dokumenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clanovi] ON 

INSERT [dbo].[Clanovi] ([ID_Clanovi], [Ime_i_prezime], [E_mail], [Status], [Korisnicko_ime], [Lozinka]) VALUES (1, N'Milan Radovanovic', N'milan@gmil.com', 1, N'MilanR', N'milan1234')
INSERT [dbo].[Clanovi] ([ID_Clanovi], [Ime_i_prezime], [E_mail], [Status], [Korisnicko_ime], [Lozinka]) VALUES (2, N'Stana Miloševic', N'stana@gmail.com', 1, N'Stana', N's12')
SET IDENTITY_INSERT [dbo].[Clanovi] OFF
SET IDENTITY_INSERT [dbo].[Prilozi] ON 

INSERT [dbo].[Prilozi] ([ID_Sednice], [Rbr_Priloga], [ID_Dokumenta], [Putanja], [Poslato], [DatumSlanja]) VALUES (1, 1, 1, N'c:\\putanja', 1, CAST(N'2018-05-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Prilozi] ([ID_Sednice], [Rbr_Priloga], [ID_Dokumenta], [Putanja], [Poslato], [DatumSlanja]) VALUES (2, 2, 2, N'c:\\putanja2', 1, CAST(N'2018-05-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Prilozi] OFF
INSERT [dbo].[Prisustvo] ([Prisutan], [Opravdano], [ID_Sednice], [ID_Clanovi]) VALUES (1, NULL, 1, 1)
INSERT [dbo].[Prisustvo] ([Prisutan], [Opravdano], [ID_Sednice], [ID_Clanovi]) VALUES (0, NULL, 2, 2)
INSERT [dbo].[Sednice] ([ID_Sednice], [Datum], [Vrsta_sednice], [Ucionica], [Zapisnik], [Poziv]) VALUES (1, CAST(N'2018-05-05T00:00:00.0000000' AS DateTime2), N'Redovna', N'RAF15', N'zapisnik', N'Proba1')
INSERT [dbo].[Sednice] ([ID_Sednice], [Datum], [Vrsta_sednice], [Ucionica], [Zapisnik], [Poziv]) VALUES (2, CAST(N'2018-06-05T00:00:00.0000000' AS DateTime2), N'Vanredna', N'RAF15', N'zapisnik2', N'Proba2')
SET IDENTITY_INSERT [dbo].[VrstaDokumenta] ON 

INSERT [dbo].[VrstaDokumenta] ([ID_Dokumenta], [NazivDokumenta]) VALUES (1, N'Doktorat')
INSERT [dbo].[VrstaDokumenta] ([ID_Dokumenta], [NazivDokumenta]) VALUES (2, N'Magistratura')
SET IDENTITY_INSERT [dbo].[VrstaDokumenta] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clanovi__31660442EE27E6EE]    Script Date: 31-Aug-18 10:19:14 ******/
ALTER TABLE [dbo].[Clanovi] ADD UNIQUE NONCLUSTERED 
(
	[E_mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clanovi__5F72E4483B1418AF]    Script Date: 31-Aug-18 10:19:14 ******/
ALTER TABLE [dbo].[Clanovi] ADD UNIQUE NONCLUSTERED 
(
	[Korisnicko_ime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prilozi]  WITH CHECK ADD FOREIGN KEY([ID_Dokumenta])
REFERENCES [dbo].[VrstaDokumenta] ([ID_Dokumenta])
GO
ALTER TABLE [dbo].[Prilozi]  WITH CHECK ADD  CONSTRAINT [FK__Prilozi__ID_Sedn__2F10007B] FOREIGN KEY([ID_Sednice])
REFERENCES [dbo].[Sednice] ([ID_Sednice])
GO
ALTER TABLE [dbo].[Prilozi] CHECK CONSTRAINT [FK__Prilozi__ID_Sedn__2F10007B]
GO
ALTER TABLE [dbo].[Prisustvo]  WITH CHECK ADD FOREIGN KEY([ID_Clanovi])
REFERENCES [dbo].[Clanovi] ([ID_Clanovi])
GO
ALTER TABLE [dbo].[Prisustvo]  WITH CHECK ADD  CONSTRAINT [FK__Prisustvo__ID_Se__29572725] FOREIGN KEY([ID_Sednice])
REFERENCES [dbo].[Sednice] ([ID_Sednice])
GO
ALTER TABLE [dbo].[Prisustvo] CHECK CONSTRAINT [FK__Prisustvo__ID_Se__29572725]
GO
USE [master]
GO
