
@{
    ViewBag.Title = "NNV";
}

<h2>AFTER LOGIN</h2>




<!DOCTYPE html>
<html>

<head>
<style>

.btn-group1 {
   
    width: 200%; /* Set a width if needed */
   
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 200%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

</style>


</head>
<body>
    <div class="btn-group1">
        <button>PRETRAGA</button>

    </div> <br /><br /><br />
     <br /><br /><br />
    <br /><br /><br />
    <br/><br /><br />






   

        <div class="btn-group">
            <button>SEDNICE</button>
            <button>ČLANOVI</button>
            <button>PRILOZI</button>
            <br /><br /><br />
            <br /><br /><br />
            <br /><br /><br />
            <button>ADMIN</button>
        </div>





    </body>
</html>


